---
title: test file
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>About</title>
    <meta http-equiv="content-type" 
        content="text/html;charset=utf-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<style type="text/css"><!--
.item { font-weight: bold; font-size: large; }
.code { font-family: monospace; font-size: small; }
.opener { display: none; }
.readmore { font-style: italic; }
--></style>
</head>

<body>
<div id="body"><p>
<ul>
{% for post in site.posts %}
<li><span class="item">{{ post.title }}</span><br/>
{% capture ghlink %}/rjp/{{ post.github }}{% endcapture %}
{% if post.ghpages %}<!-- implies github -->
<a href="http://rjp.github.com/{{ post.github }}">Github pages</a>
{% endif %}
{% if post.github %} <a href="http://github.com/rjp/{{ post.github }}">{{ ghlink }}</a> {% endif -%}
{% if post.link %}
<a href="{{ post.link }}">{{ post.link }}</a>
{% endif %}
<div class="words"> {{ post.words | textilize }} </div>
{% if post.extra %}
<div class='readmore'>More...</div><div class='opener'>
{% if post.extratype == "code" -%}
 <div class="extra code"> {{ post.extra | textilize | newline_to_br }} </div>
{% else -%}
 <div class="extra"> {{ post.extra | textilize }} </div>
{% endif -%}
</div>
{% endif %}
</li>
{% endfor -%}
</ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.readmore').click(function(e){
        var x = $(this).next('.opener');
        if (x.is(':visible')) {
            $(this).text('More...');
        } else {
            $(this).text('Less...');
        }
        x.toggle();
    })
});
</script></body></html>
